{% extends 'base.html'%}
{% load staticfiles %}
{% load bootstrap4 %}
{% block content%}

<head>
    <link rel="stylesheet" href="{%static 'css/profile.css'%}">
</head>

<body style="background-color: rgb(235, 232, 232); !important">



    <div class="container" id='prof'>
        <h2 class="text-center" style="margin-bottom: 10px;">{{user}} profile</h2>
        <div class="card" style="background-color:white">
            <div class="row">
                
                <div class="col-md-10" style="margin-left: 20px;margin-top:30px">
                    <p><b>Name: </b><i>{{profile.user.username}}</i></p>
                    <p><b>Binary account  type: </b>{{profile.user.binary_accounts.account_type}}</p>
                    
                    <p><b>Forex account type: </b>{{profile.user.Forex.account_type}}</p>
                    <p><b>ID:: {{profile.user_app_id}}</b></p>
                    <p><b>Contact :: {{profile.contact}}</b></p>
                </div>
                <div class="col-md-2">
                    <a href="/update/profile/" class="btn" style="color: white;background-color: black;">Update</a>
                </div>
                
            </div>
        </div>
    </div>
</body>

{% endblock %}