<style>
    .dropbtn {
      background-color: #4CAF50;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
    }
    
    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    .dropdown-content a:hover {background-color: #ddd;}
    
    .dropdown:hover .dropdown-content {display: block;}
    
    .dropdown:hover .dropbtn {background-color: #3e8e41;}
    </style>

<nav class="col-md-2 d-none d-md-block bg-light sidebar" style="padding-top: 30px; height: 100vh;">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-file">
                        <path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path>
                        <polyline points="13 2 13 9 20 9"></polyline>
                    </svg>
                    Home
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropbtn" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-file">
                        <path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path>
                        <polyline points="13 2 13 9 20 9"></polyline>
                    </svg>
                    Forex history
                </a>
                <div class="dropdown-content">
                    <a href="/history-forex/50/">Last 50 forex siganls</a>
                    <a href="/history-forex/75/">Last 75 forex siganls</a>
                    <a href="/history-forex/100/">Last 100 forex signals</a>
                    <a href="/history-forex/125/">Last 125 forex signals</a>
                    <a href="/history-forex/150/">Last 150 forex signals</a>
                    <a href="history-forex/">All forex signals</a>
                </div>
            </li>
            <li class="nav-item dropdown" style="margin-top: 20px; margin-bottom: 20px;">
                <a class="nav-link dropbtn" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-file">
                        <path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path>
                        <polyline points="13 2 13 9 20 9"></polyline>
                    </svg>
                    Binary history
                </a>
                <div class="dropdown-content">
                    <a href="/history-binary/50/">Last 50 binary signals</a>
                    <a href="/history-binary/75/">Last 75 binary signals</a>
                    <a href="/history-binary/100/">Last 100 binary signals</a>
                    <a href="/history-binary/125/">Last 125 binary signals</a>
                    <a href="/history-binary/150/">Last 150 binary signals</a>
                    <a href="/history-binary/">All binary signals</a>
                </div>
            </li>
            {%if forexSignals %}
            <h1>Forex signals</h1>
            {%for forex in forexSignals %}

            <li class="nav-item">

                <a class="nav-link active" href="/single/forex/signal/{{forex.id}}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-home">
                        <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                        <polyline points="9 22 9 12 15 12 15 22"></polyline>
                    </svg>
                    {{forex.signal}} <span class="sr-only">(current)</span>
                </a>
            </li>
            {%endfor%}
            {%else%}
            <p>No forex signals</p>
            {%endif%}


            {%if valid %}
            <h3>Binary signals</h3>
            {%for binary in valid %}

            <li class="nav-item" >

                <a class="nav-link active" href="/single/binary/signal/{{binary.id}}" style="background-color: yellowgreen;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-home">
                        <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                        <polyline points="9 22 9 12 15 12 15 22"></polyline>
                    </svg>
                    {{binary.signal}} <span class="sr-only">(current)</span>
                </a>
            </li>
            {%endfor%}
            {%elif expired%}
            {%for binary in expired %}

            <li class="nav-item" >

                <a class="nav-link active" href="/single/binary/signal/{{binary.id}}" style="background-color: red;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-home">
                        <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                        <polyline points="9 22 9 12 15 12 15 22"></polyline>
                    </svg>
                    {{binary.signal}} <span class="sr-only">(current)</span>
                </a>
            </li>
            {%endfor%}
            {%else%}
            <P>No binary signals</P>
           {%endif%}
        
    </div>
</nav>